In [5]:
#Q1

def next_in_line(lst, num):
    if not lst:
        return "No list has been selected"
    lst.append(num)
    lst.pop(0)
    return lst

print(next_in_line([5, 6, 7, 8, 9], 1))
# Output: [6, 7, 8, 9, 1]

print(next_in_line([7, 6, 3, 23, 17], 10))
# Output: [6, 3, 23, 17, 10]

print(next_in_line([1, 10, 20, 42 ], 6))
# Output: [10, 20, 42, 6]

print(next_in_line([], 6))
# Output: "No list has been selected"

[6, 7, 8, 9, 1]
[6, 3, 23, 17, 10]
[10, 20, 42, 6]
No list has been selected

In [6]:
#Q2

def get_budgets(lst):
    return sum(d['budget'] for d in lst)

budgets1 = [
    {"name": "John", "age": 21, "budget": 23000},
    {"name": "Steve", "age": 32, "budget": 40000},
    {"name": "Martin", "age": 16, "budget": 2700}
]
print(get_budgets(budgets1))
# Output: 65700

budgets2 = [
    {"name": "John", "age": 21, "budget": 29000},
    {"name": "Steve", "age": 32, "budget": 32000},
    {"name": "Martin", "age": 16, "budget": 1600}
]
print(get_budgets(budgets2))
# Output: 62600

65700
62600

In [7]:
#Q3

def alphabet_soup(txt):
    return ''.join(sorted(txt))

print(alphabet_soup("hello"))
# Output: "ehllo"

print(alphabet_soup("edabit"))
# Output: "abdeit"

print(alphabet_soup("hacker"))
# Output: "acehkr"

print(alphabet_soup("geek"))
# Output: "eegk"

print(alphabet_soup("javascript"))
# Output: "aacijprstv"

ehllo
abdeit
acehkr
eegk
aacijprstv

In [8]:
#Q4

def compound_interest(p, t, r, n):
    A = p * (1 + r/n)**(n*t)
    return round(A, 2)

print(compound_interest(100, 1, 0.05, 1))
# Output: 105.0

print(compound_interest(3500, 15, 0.1, 4))
# Output: 15399.26

print(compound_interest(100000, 20, 0.15, 365))
# Output: 2007316.26

print(compound_interest(10000, 10, 0.06, 12))
# Output: 18193.97

105.0
15399.26
2007316.26
18193.97

In [9]:
#Q5

def return_only_integer(lst):
    return [x for x in lst if isinstance(x, int)]

print(return_only_integer([9, 2, "space", "car", "lion", 16]))
# Output: [9, 2, 16]

print(return_only_integer(["hello", 81, "basketball", 123, "fox"]))
# Output: [81, 123]

print(return_only_integer([10, "121", 56, 20, "car", 3, "lion"]))
# Output: [10, 56, 20, 3]

print(return_only_integer(["String", True, 3.3, 1]))
# Output: [1]

[9, 2, 16]
[81, 123]
[10, 56, 20, 3]
[True, 1]